@page "/chat"
@page "/chat/{user}"

@using Blazored.LocalStorage;
@using Microsoft.AspNetCore.SignalR.Client
@using StudyBuddy.Client.Client.Components
@using StudyBuddy.Client.Client.HttpRepository
@using SharedAPI.Data
@inject NavigationManager navigationManager 
@inject IMessageService messageService
@inject IAuthenticationService authService
@inject HttpInterceptorService Interceptor
@implements IAsyncDisposable

<h3>Chat</h3>
<div class="container">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card chat-app">
                    <!-- Include the UsersList component -->
                    <UsersList OnlineUsers="onlineUsers" OnUserSelected="HandleUserSelected"/>
        <!-- Main Chat Area -->
                <div class="chat">
                @if(otherUser is null)
                {
                    <h2 style="position: center">Select a user to start a conversation</h2>
                }else{
                        <div class="chat-header clearfix">
                        <div class="row">
                            <div class="col-lg-6">
                                <a href="users/@otherUser.UserName" data-toggle="modal" data-target="#view_info">
                                    <img src="@otherUser.ImageUrl" alt="avatar">
                                </a>
                                <div class="chat-about">
                                    <h6 class="m-b-0">@otherUser.UserName</h6>
                                    <small>Last seen: 2 hours ago</small>
                                </div>
                            </div>
                            <div class="col-lg-6 hidden-sm text-right">
                                <div class=" float-right">
                                <a href="javascript:void(0);" class="btn btn-outline-warning"><i class="oi oi-question-mark"></i></a>
                                </div>
                            </div>
                        </div>
                        </div>

                        <div class="chat-history" style="overflow-y: scroll; height: 400px;">
                            <ul class="m-b-0">
                                @foreach (var message in messages)
                                {
                                    <li class="clearfix">
              @*                           <div class="message-data float-right">
                                            <span class="message-data-time">@message.CreatedAt.ToString("h:mm tt"), @( message.CreatedAt.DayOfWeek.Equals(DateTime.Now.DayOfWeek) ?  "Today" : @message.CreatedAt.DayOfWeek)</span>
                                            <img src="Images/defaultavi.jpg" alt="avatar"/>
                                        </div>
                                        <br/><br/><br/> *@
                                        @if(message.SnederUsername != otherUser.UserName){
                                            <div class="message-data float-right">
                                                <span class="message-data-time">@message.CreatedAt.ToString("h:mm tt"), @(message.CreatedAt.DayOfWeek.Equals(DateTime.Now.DayOfWeek) ? "Today" : @message.CreatedAt.DayOfWeek)</span>
                                                <img src="Images/defaultavi.jpg" alt="avatar" />
                                            </div>
                                            <br /><br /><br />
                                            <div class="message other-message float-right">@message.messageContent</div>
                                        }else{
                                            <span class="message-data-time">@message.CreatedAt.ToString("h:mm tt"), @(message.CreatedAt.DayOfWeek.Equals(DateTime.Now.DayOfWeek) ? "Today" : @message.CreatedAt.DayOfWeek)</span>
                                            <br /><br />
                                            <div class="message my-message">@message.messageContent</div>
                                        }
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="chat-message clearfix sticky">
                                <div class="input-group mb-0">
                                    <div class="input-group-prepend">
                                    <button class="send-button" @onclick="BroadcastMessage" disabled="@(!IsConnected && !message.Trim().Equals(String.Empty))"><span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M2.01 21L23 12L2.01 3L2 10l15 2l-15 2z" /></svg></span></button>
                                    </div>
                                    <input @bind="message" type = "text" id = "broadcastMsg" name = "broadcastMsg" class="form-control" placeholder="Enter text here..." autocomplete="off" autofocus/>
                                </div>
                            </div>
                      }
                        </div>
                </div>
        </div>
    </div>
</div>



