@page "/"
@using StudyBuddy.Client.Client.HttpRepository;

@inject IUserService UserService

<div class="page-content container note-has-grid">
    <ul class="nav nav-pills p-3 bg-white mb-3 rounded-pill align-items-center">
        @if (dashboardDto.TimeRequested.Hour >= 6 && dashboardDto.TimeRequested.Hour < 18)
        {
            <li class="nav-item">
                <h2 style="font:larger"><span class="oi oi-sun" aria-hidden="true"></span> Good Day, @dashboardDto.username</h2>
            </li>
        }
        else
        {
            <li class="nav-item">
                <h2 style="font:larger"><span class="oi oi-moon" aria-hidden="true"></span> Good Evening, @dashboardDto.username</h2>
            </li>
        }
    </ul>
    <div class="tab-content bg-transparent">
        <div id="note-full-container" class="note-has-grid row">
            <div class="col-md-4 single-note-item all-category" style="">
                <div class="card card-body">
                    <span class="side-stick"></span>
                    <h5 class="note-title text-truncate w-75 mb-0" data-noteheading="@dashboardDto.ProfileViews"><b>@dashboardDto.ProfileViews</b><i class="point fa fa-circle ml-1 font-10"></i></h5>
                    <p class="note-date font-12 text-muted">Profile views in the last 30 days</p>
                    <div class="note-content">
                        <p class="note-inner-content text-muted">@(dashboardDto.ProfileViews > 0 ? "People that have visited your profile in the last month!" : "Grow your network")</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 single-note-item all-category note-important" style="">
                <div class="card card-body">
                    <span class="side-stick"></span>
                    <h5 class="note-title text-truncate w-75 mb-0" data-noteheading="@dashboardDto.PendingMatches"><b>@dashboardDto.PendingMatches</b><i class="point fa fa-circle ml-1 font-10"></i></h5>
                    <p class="note-date font-12 text-muted">Pending Matches</p>
                    <div class="note-content">
                        <p class="note-inner-content text-muted" data-notecontent="You have matches you haven't acknowledged!">@(dashboardDto.PendingMatches > 0 ? "You have matches you haven't acknowledged!" : "You don't have matches yet")</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 single-note-item all-category note-social" style="">
                <div class="card card-body">
                    <span class="side-stick"></span>
                    <h5 class="note-title text-truncate w-75 mb-0" data-noteheading="@dashboardDto.NumMatches.ToString("00")"><b>@(dashboardDto.NumMatches > 0 ? dashboardDto.NumMatches.ToString("00") : dashboardDto.NumMatches)</b><i class="point fa fa-circle ml-1 font-10"></i></h5>
                    <p class="note-date font-12 text-muted">Matches in the last 30 days</p>
                    <div class="note-content">
                        <p class="note-inner-content text-muted" data-notecontent="You've expanded your network by 6 students in the last month!">@(dashboardDto.NumMatches > 0 ? $"You've expanded your network by {dashboardDto.NumMatches} students in the last month!" : "You've not made any matches in the last 30 days!'")</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 single-note-item all-category note-business" style="">
                <div class="card card-body">
                    <span class="side-stick"></span>
                    <h5 class="note-title text-truncate w-75 mb-0" data-noteheading="Give Review for design"><b>60%</b><i class="point fa fa-circle ml-1 font-10"></i></h5>
                    <p class="note-date font-12 text-muted">Of your matches</p>
                    <div class="note-content">
                        <p class="note-inner-content text-muted" data-notecontent="You've expanded your network by 6 students in the last month!">A good percentage of your matches all-time are in <b>Computer Science</b></p>
                    </div>
                </div>
            </div>
          </div>
        </div>
    <!-- Modal Add notes -->
    <div class="modal fade" id="addnotesmodal" tabindex="-1" role="dialog" aria-labelledby="addnotesmodalTitle" style="display:@(dashboardDto.firstVisit ? "block;" : "none;")" aria-hidden="@(dashboardDto.firstVisit ? "block;" : "none;")">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content border-0">
                <div class="modal-header bg-info text-white">
                    <h5 class="modal-title text-white">Add Notes</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="notes-box">
                        <div class="notes-content">
                            <EditForm Model="details" OnValidSubmit="AddDetails" class="mb-4">
                                <DataAnnotationsValidator />

                                <label class=" col-2 font-weight-bold">Department: </label>
                                <InputSelect @bind-Value="details.DepartmentId" class="form-control">
                                    @foreach(var dept in deppartments)
                                    {
                                        <option value="@dept.Id">@dept.Name</option>
                                    }
                                </InputSelect>

                                <label class=" col-2 font-weight-bold">Course: </label>
                                <InputSelect @bind-Value="details.CourseId" class="form-control">
                                    @foreach (var course in courses)
                                    {
                                        <option value="@course.Id">@course.Name</option>
                                    }
                                </InputSelect>

                                <div class="form-group">
                                    <label for="InputLinkedIn">LinkedIn</label>
                                    <InputText id="InputLinkedIn" class="form-control" @bind-Value="details.LinkedinUrl" />
                                    <ValidationMessage For="@(() => details.LinkedinUrl)" />
                                </div>

                                <div class="form-group mb-4">
                                    <label for="InputTwitter">Twitter</label>
                                    <InputText id="InputTwitter" class="form-control" @bind-Value="details.Twitter" />
                                    <ValidationMessage For="@(() => details.Twitter)" />
                                </div>

                                <button type="submit" class="btn btn-theme">Login</button>
                            </EditForm>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-n-save" class="float-left btn btn-success" style="display: none;">Save</button>
                    <button class="btn btn-danger" data-dismiss="modal">Discard</button>
                    <button id="btn-n-add" class="btn btn-info" disabled="disabled">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>

