@page "/register"

@if (ShowRegistrationErrors)
{
    <div class="alert alert-danger" role="alert">
        @foreach (var error in Errors)
        {
            <p>@error</p>
        }
    </div>
}

<div id="main-wrapper" class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10">
            <div class="card border-0">
                <div class="card-body p-0">
                    <div class="row no-gutters">
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="mb-4">
                                    <h3 class="h4 font-weight-bold text-theme"><b>Register</b></h3>
                                </div>

                                <h6 class="h5 mb-0">Welcome!</h6>
                                <p class="text-muted mt-2 mb-4">Create a new account... It's quick and easy</p>

                                <EditForm Model="_userForRegistration" OnValidSubmit="Register" class="mb-4">
                                    <DataAnnotationsValidator />

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <InputText id="exampleInputEmail1" class="form-control" @bind-Value="_userForRegistration.Email" />
                                        <ValidationMessage For="@(() => _userForRegistration.Email)" />
                                    </div>

                                    <div class="form-group">
                                        <label for="fname">First Name</label>
                                        <InputText type="text" id="fname" class="form-control" @bind-Value="_userForRegistration.FirstName" />
                                        <ValidationMessage For="@(() => _userForRegistration.FirstName)" />
                                    </div>

                                    <div class="form-group">
                                        <label for="lname">Last Name</label>
                                        <InputText type="text" id="lname" class="form-control" @bind-Value="_userForRegistration.LastName" />
                                        <ValidationMessage For="@(() => _userForRegistration.LastName)" />
                                    </div>

                                    <div class="form-group">
                                        <label for="uname">User Name</label>
                                        <InputText type="text" id="uname" class="form-control" @bind-Value="_userForRegistration.Username" />
                                        <ValidationMessage For="@(() => _userForRegistration.Username)" />
                                    </div>

                                    <div class="form-group">
                                        <label for="pnum">Phone Number</label>
                                        <InputText type="text" id="pnum" class="form-control" @bind-Value="_userForRegistration.PhoneNumber" />
                                        <ValidationMessage For="@(() => _userForRegistration.PhoneNumber)" />
                                    </div>

                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <InputText type="password" id="password" class="form-control" @bind-Value="_userForRegistration.Password" />
                                        <ValidationMessage For="@(() => _userForRegistration.Password)" />
                                    </div>

                                    <div class="form-group mb-4">
                                        <label for="confirm">Confirm Password</label>
                                        <InputText type="password" id="confirm" class="form-control" @bind-Value="_userForRegistration.ComparePassword" />
                                        <ValidationMessage For="@(() => _userForRegistration.ComparePassword)" />
                                    </div>

                                    <button type="submit" class="btn btn-theme">Register</button>
                                </EditForm>
                            </div>
                        </div>

                        <div class="col-lg-6 d-none d-lg-inline-block">
                            <div class="account-block rounded-right">
                                <div class="overlay rounded-right"></div>
                                <div class="account-testimonial">
                                    <h4 class="text-white mb-2">Study Buddy</h4>
                                    <p class="lead text-white"><i>Bridging Gaps</i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end card-body -->
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- Row -->
</div>


@* <EditForm Model="_userForRegistration" OnValidSubmit="Register" class="card card-body bg-light mt-5">
    <DataAnnotationsValidator />
    <div class="form-group row">
        <label for="email" class="col-md-2 col-form-label">Email:</label>
        <div class="col-md-10">
            <InputText id="email" class="form-control" @bind-Value="_userForRegistration.Email" />
            <ValidationMessage For="@(() => _userForRegistration.Email)" />
        </div>
    </div>

    <div class="form-group row">
        <label for="fname" class="col-md-2 col-form-label">First Name:</label>
        <div class="col-md-10">
            <InputText type="text" id="fname" class="form-control" @bind-Value="_userForRegistration.FirstName" />
            <ValidationMessage For="@(() => _userForRegistration.FirstName)" />
        </div>
    </div>

    <div class="form-group row">
        <label for="lname" class="col-md-2 col-form-label">Last Name:</label>
        <div class="col-md-10">
            <InputText type="text" id="lname" class="form-control" @bind-Value="_userForRegistration.LastName" />
            <ValidationMessage For="@(() => _userForRegistration.LastName)" />
        </div>
    </div>

    <div class="form-group row">
        <label for="uname" class="col-md-2 col-form-label">User Name:</label>
        <div class="col-md-10">
            <InputText type="text" id="uname" class="form-control" @bind-Value="_userForRegistration.Username" />
            <ValidationMessage For="@(() => _userForRegistration.Username)" />
        </div>
    </div>

    <div class="form-group row">
        <label for="pnum" class="col-md-2 col-form-label">Phone Number:</label>
        <div class="col-md-10">
            <InputText type="text" id="pnum" class="form-control" @bind-Value="_userForRegistration.PhoneNumber" />
            <ValidationMessage For="@(() => _userForRegistration.PhoneNumber)" />
        </div>
    </div>

    <div class="form-group row">
        <label for="password" class="col-md-2 col-form-label">Password:</label>
        <div class="col-md-10">
            <InputText type="password" id="password" class="form-control" @bind-Value="_userForRegistration.Password" />
            <ValidationMessage For="@(() => _userForRegistration.Password)" />
        </div>
    </div>

    <div class="form-group row">
        <label for="confirm" class="col-md-2 col-form-label">Confirm Password:</label>
        <div class="col-md-10">
            <InputText type="password" id="confirm" class="form-control" @bind-Value="_userForRegistration.ComparePassword" />
            <ValidationMessage For="@(() => _userForRegistration.ComparePassword)" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-success">Register</button>
        </div>
    </div>
</EditForm> *@
