@page "/search"
@using StudyBuddy.Client.Client.HttpRepository;

@inject IUserService userService
@inject HttpInterceptorService Interceptor
@implements IDisposable

<div class="container">
    <div class="row">
        <div class="col-lg-12 card-margin">
            <div class="card search-form">
                <div class="card-body p-0">
                    <form id="search-form">
                        <div class="row">
                            <div class="col-12">
                                <div class="row no-gutters">
                                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                        <select class="form-control" onchange="@DepartmentClicked">
                                            <option value="@Guid.Empty">-Department--</option>
                                            @foreach (var dept in deppartments)
                                            {
                                                <option value="@dept.Id">@dept.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                        <select class="form-control" onchange="@CourseClicked">
                                            <option value="@Guid.Empty">-Course--</option>
                                            @foreach (var course in courses)
                                            {
                                                <option value="@course.Id">@course.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-lg-8 col-md-6 col-sm-12 p-0">
                                        <input type="text" placeholder="Search..." class="form-control" id="search" name="search" @bind-value="@SearchTerm" @bind-value:event="oninput" @onkeyup="async () => await SearchChanged(SearchTerm)">
                                    </div>
                                    <div class="col-lg-1 col-md-3 col-sm-12 p-0">
                                        <button type="submit" class="btn btn-base">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card card-margin">
                <div class="card-body">
                    <div class="row search-body">
                        <div class="col-lg-12">
                            <div class="search-result">
                                <div class="result-header">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="records">Showing: <b>@(users?.Metadata?.PageSize * (users?.Metadata?.CurrentPage - 1) + 1) - @(users?.Metadata?.PageSize * (users?.Metadata?.CurrentPage - 1) + users?.Metadata?.PageSize) </b> of <b>@users?.Metadata?.TotalCount</b> result</div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="result-actions">
                                                <div class="result-sorting">
                                                    <span>Sort By:</span>
                                                    <select class="form-control border-0" id="exampleOption">
                                                        <option value="1">Relevance</option>
                                                        <option value="2">Names (A-Z)</option>
                                                        <option value="3">Names (Z-A)</option>
                                                    </select>
                                                </div>
                                                <div class="result-views">
                                                    <button type="button" class="btn btn-soft-base btn-icon">
                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                             width="24"
                                                             height="24"
                                                             viewBox="0 0 24 24"
                                                             fill="none"
                                                             stroke="currentColor"
                                                             stroke-width="2"
                                                             stroke-linecap="round"
                                                             stroke-linejoin="round"
                                                             class="feather feather-list">
                                                            <line x1="8" y1="6" x2="21" y2="6"></line>
                                                            <line x1="8" y1="12" x2="21" y2="12"></line>
                                                            <line x1="8" y1="18" x2="21" y2="18"></line>
                                                            <line x1="3" y1="6" x2="3" y2="6"></line>
                                                            <line x1="3" y1="12" x2="3" y2="12"></line>
                                                            <line x1="3" y1="18" x2="3" y2="18"></line>
                                                        </svg>
                                                    </button>
                                                    <button type="button" class="btn btn-soft-base btn-icon">
                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                             width="24"
                                                             height="24"
                                                             viewBox="0 0 24 24"
                                                             fill="none"
                                                             stroke="currentColor"
                                                             stroke-width="2"
                                                             stroke-linecap="round"
                                                             stroke-linejoin="round"
                                                             class="feather feather-grid">
                                                            <rect x="3" y="3" width="7" height="7"></rect>
                                                            <rect x="14" y="3" width="7" height="7"></rect>
                                                            <rect x="14" y="14" width="7" height="7"></rect>
                                                            <rect x="3" y="14" width="7" height="7"></rect>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="result-body">
                                    <div class="table-responsive">
                                        <table class="table widget-26">
                                            <tbody>
                                                @if (users.Items != null)
                                                {
                                                    @foreach (var user in users.Items)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <div class="widget-26-job-emp-img">
                                                                    <img src=@user.ImageUrl alt="Company" />
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="widget-26-job-title">
                                                                    <a href="/users/@user.UserName">@user.FullName</a>
                                                                    <p class="m-0 employer-name">@user.UserName</p>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="widget-26-job-info">
                                                                    <p class="type m-0">@user.Course</p>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="widget-26-job-salary">@user.ProficientCourse</div>
                                                            </td>
                                                            <td>
                                                                @if (user.MatchStatus.Equals("Friends"))
                                                                {
                                                                    <div class="widget-26-job-category bg-soft-success">
                                                                        <i class="indicator bg-success"></i>
                                                                        <span>@user.MatchStatus</span>
                                                                    </div>
                                                                }else if(user.MatchStatus.Equals("No Match"))
                                                                {
                                                                    <div class="widget-26-job-category bg-soft-danger">
                                                                        <i class="indicator bg-warning"></i>
                                                                        <span>@user.MatchStatus</span>
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="widget-26-job-category bg-soft-info">
                                                                        <i class="indicator bg-info"></i>
                                                                        <span>@user.MatchStatus</span>
                                                                    </div>
                                                                }
                                                            </td>
                                                            <td>
                                                            @for (int i = 1; i <= 5; i++)
                                                            {
                                                                <span class="star @(i <= 3.5 ? "selected" : "")">★</span>
                                                            }
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav class="d-flex justify-content-center">
                        <ul class="pagination pagination-base pagination-boxed pagination-square mb-0">
                                @if (users.Items != null)
                                {
                                @if (users.Metadata.HasPrevious)
                                {
                                    <li class="page-item">
                                        <a class="page-link no-border" href="#">
                                            <span aria-hidden="true">«</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                }

                                @for (int i = 1; i <= users?.Metadata?.PageCount; i++)
                                    {
                                    int pageNumber = i;
                                    <li class="page-item @((users.Metadata.PageCount == i) ? "active" : "") " @onclick="async () => await PageChanged(pageNumber)"><span class="page-link no-border">@i</span></li>
                                    }

                                @if (users.Metadata.HasNext)
                                {
                                    <li class="page-item">
                                        <a class="page-link no-border" href="#" inactive>
                                            <span aria-hidden="true">»</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                }
                                }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>